$colors: (
  neutral: (
    100: #ffffff,
    200: #f5f5f5,
    400: #808080,
    800: #222222,
    900: #000000,
  ),
  primary: (
    100: lightblue,
    400: blue,
    900: darkblue,
  ),
  accent: (
    400: #ff6635,
    500: #dd4e11,
  ),
);
