$colors: (
  neutral: (
    100: #ffffff,
    400: #fff7ed,
    800: #252525,
    900: #000000,
  ),
  primary: (
    100: #FFEAD0,
    200: #FFDDB2,
    300: #ffcc8d,
    400: #ff8c38,
  ),
  accent-1: (
    400: #e17654,
    ),
  accent-2: (
    400: #115e59,
    ),
  accent-3: (
    400: #161616,
    ),
);
