$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  300: 1rem,
  400: 1.125rem,
  500: 1.3125rem,
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
);

$fw-400: 400;
$fw-700: 700;