@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  font-weight: $fw-700;
  padding: $button-padding-block $button-padding-inline;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: clr(accent, 400);
    color: clr(neutral, 900);

    // &:is(:hover, :focus) {
    //   background-color: clr(accent, 500);
    //   color: clr(neutral, 100);
    // }
  }

  &[data-type="outline"] {
    background: transparent;
    outline: $outline-size solid clr(neutral, 100);
    outline-offset: calc($outline-size * -1);
    color: clr(neutral, 100);
  }

  &:is(:hover, :focus) {
    background-color: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}
