@use "../abstracts/" as *;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main-nav {
  a {
    color: clr(neutral, 900);
    text-transform: uppercase;
  }
}

.logo {
  text-decoration: none;
}