@use "../abstracts/" as *;

.nav {
  a {
    color: clr(neutral, 900);
    text-transform: uppercase;
  }

  a:hover {
    font-weight: bold;
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
    color: clr(primary, 400);
  }
}
