@use "../abstracts" as *;

.g-auto-fit-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-item-size, 250px), 100%), 1fr)
  );
}
