@use '../abstracts' as *;

.g-even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  & > * {
    max-width: 500px;
    margin-inline: auto;
  }

  // media query here
}